body {
  background-color: #a6a6d7;
  background-image: url(./cats.jpg);
  background-size: cover;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {

 

  color: rgb(8, 5, 0);
  position: fixed;
  width: 100%;
  max-width: 728px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  padding: 10px;

  
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(36, 46, 105);
  background-image: url(./cats.jpg);
  background-size: cover;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  background: transparent;
}

form {
  height: 5vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;

  padding-bottom: 5px;
  
}

form button {
  width: 20%;
  background-color: rgb(5, 30, 175);
}


input {
  line-height: 40px;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #dbdc76; /* Green */
  
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  
  cursor: pointer;
  
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #ffffff;
  background:transparent;
  max-width: 400px;
  margin:auto;
  font-weight: bolder;
  margin-bottom: 40px;
  background-color: #1075bd;
  border-radius: 30px;
}




ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.guidelines {
  text-align: center;
}

